code/dist-newstyle/
keys/
code/DecentralizedTix/assets/*.addr
code/DecentralizedTix/assets/*.raw
code/DecentralizedTix/assets/*.signed
code/DecentralizedTix/assets/*.params
code/DecentralizedTix/assets/*.plutus
code/DecentralizedTix/policy/
archive/